/* ================================== */
/* Fonts */
/* ================================== */

@font-face { 
    font-family:'DMSans-regular';
    src: url(assets/fonts/DMSans-regular.ttf) format('ttf');
    src: url(assets/fonts/DMSans-regular.eot) format('eot');
    src: url(assets/fonts/DMSans-regular.woff) format('woff');
}