/* ================================== */
/* General rules */
/* ================================== */

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 100%; /* = 16px default */
    text-rendering: optimizeLegibility;
    font-family: 'DMSans-regular', Arial, Helvetica, sans-serif;
}

body { 
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    width: 100%; height: 100vh;
    justify-content: space-between;
    
    #root {
        background: rgba(196, 196, 196, 0.4);
        height: 100vh;
        position: relative; // for absolute positioned children
        width:90%; margin:auto;
        #main-search { margin-bottom: 25px;}

        #advanced-search {
            #multiCollapse {
                position: absolute;z-index:5; // search menus pos when toggled open
            }
        }
        .recipesListWrapper {
            
        }
    }
}

a { text-decoration: none; color: unset; }
input { border: transparent; }
ul { margin: 0; padding: 0;}
ul li { list-style: none; }
button { display: block; border: none; }

a, input, button {cursor: pointer; }
h1,h2, h3,h4, h5, h6 { font-weight: normal;}


.visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}