/* ================================================== */
/* CARD COMPONENT ( based on bootstap card)
/* ================================================== */
card-component {
    margin: 1% 0;
    display: flex;
    max-width: 50%;
    // *:not(.recipe-txt) { font-family: Lato;}

    .card.recipe-card {
        width: 400px !important; 
        height: 350px !important;
        @include min-992px { height:450px !important;}
        img { height:45%; width:100%;  background:#C7BEBE;}
        
        .card-body {
            padding: 0 7% !important;
            background:#E7E7E7;

            .card-header-recipe {
                padding: 4% 0;
                h5 {
                    // &:nth-child(1) { font-weight:700;}
                    font-weight : 500;
                    @include max-600px {font-size: 0.8em;}
                    @include min-600px { font-size: 1em;}
                    @include min-992px { font-size: 1.2em;}
                }
                .card-time {
                    height: 100%;
                    @include flex(row, nowrap);justify-content: space-evenly;
                    .far.fa-clock {
                        margin-right: 5px !important;
                        @include icon-base;
                        @include max-600px{font-size: 1em;}
                        @include min-600px{@include icon-size;}
                    }
                }
            }
        }
        .recipe-description {
            height: 60%;
            .ingredients-list li, p  { 
                font-size: 0.7em;
                @include min-992px { font-size: 1em;}
            } 
            .recipe-txt { 
                height: 100%;
                p {
                    height: 100%;
                    overflow: scroll;
                    // overflow: ellipsis; => only works on one line text
                }
            }
        }
    }
}