
card-component {
    margin:2%;
    display: flex;

    .card.recipe-card {
        width: 400px !important; height: 350px !important;
        img { height:45%; width:100%;}
        
        .card-body {
            padding: 2% 7% !important;

            .card-header-recipe {
                padding: 4% 0;
                h5 { font-weight : 500; font-size: 1em;}
            
                .card-time {
                    .far.fa-clock {
                        @include icon-base;
                        @include icon-size;
                    }
                }
            }
        }
        .recipe-description {
            height: 60%;
            overflow: hidden;
            .ingredients-list li, p  { font-size: 0.7em;}
            .recipe-txt { 
                height: 100%;
                p {
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
    }
}