// =================================
// Advanced search menus
// =================================
.adv-search-wrapper {
    margin: 0 !important;
    padding: 0 !important;
    background-color: pink;
    margin: 3% 0 0 0;

    collapsing-menu-component {
        margin: 0 !important;
        padding: 0 !important; 
        z-index: 5;// search menus pos when toggled open
        color: white;
    }

    collapsing-menu-component[isActive="true"] {
        @include max-992px {
            z-index: 10; // MOBILE : search menus pos when toggled open 
        }
    }
    

    [id^=collapsing-][isActive="false"] * {border-radius:5px;}  // ^= indicates "starts with". Conversely, $= indicates "ends with".

    .category-menu { border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
    .menu-header.open,  .menu-header.open > input {border-top-left-radius: 5px;}
    .menu-header.open,  .menu-header.open > i {border-top-right-radius: 5px;}


    .menu-header.closed,
    .menu-header.open {
        @include max-992px {
            width:100%  !important; 
            margin: 0 !important;
            padding: 0 !important;}}


    #collapsing-ingredients * { background-color: #174ab8; }
    #collapsing-appareils * { background-color: #4bb9fe; }
    #collapsing-ustensils * { background-color: #e83e8c; }

    .card.card-body { width:100%;}

    .tagsWrapper {
        background-color: yellow;
        width: 100%;
        @include flex(row, wrap);
        @include max-768px { justify-content: flex-start;}
        .searchTag {
            @include border-radius(5px);
            font-size: 0.8em;
            background-color: $primary !important;
            color: $white;
            padding: 1%;
            margin: 1%;
            @include centered;
            i.fa.fa-times-circle-o { padding-left: 5px; }
            @include max-600px {font-size:0.7em;}
        }
    }

    .menu-header { // = visible buttons / input field / carets
        display: flex;
        flex-direction: row;
        height: 70px;
        opacity: 1 !important;
        width: 90%; // of col
        .close {
            float: none !important;}

        button.btn {
            width: 80%;
            height: 100%;
            text-align: unset;
            color: $white !important;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        i.fas.fa-angle-down, i.fas.fa-angle-up {
            width: 20%;
            height: 100%;
            float: right;
            @include centered;
        }
        .searchInput {
            width: 80%;
            height: 100%;
            padding: 5%;
            color:white;
        }
    }
    .category-menu {
        @include max-992px{ width: 100%;}
        @include min-992px{ width: 90%;}
        height: 50vh;position: absolute;
        overflow: scroll;
        .list {
            display: flex;
            flex-flow: row wrap;
            menu-list-item-component {
                @include max-992px { width: 50%; }
                @include min-992px { width: 33%;}
            }
            menu-list-item-component li {
                a {
                    font-size: 0.8em;
                    text-transform: capitalize;
                }
            }
            li:hover a,
            li:active a { background-color: grey !important; }
            
        }
    }
}
