// =================================
// Advanced search menus
// =================================
.adv-search-wrapper {
    margin: 0 !important;
    padding: 0 !important;
    background-color: pink;
    margin: 3% 0 0 0;

    collapsing-menu-component {
        margin: 0 !important;
        padding: 0 !important; 
        z-index: 5;// search menus pos when toggled open
        color: white;
    }

    collapsing-menu-component[isActive="true"] {
        @include max-992px {
            z-index: 10; // MOBILE : search menus pos when toggled open 
        }
    }



    .menu-header.closed,
    .menu-header.open { 
        @include max-992px {
            width:100%  !important; 
            margin: 0 !important;
            padding: 0 !important;}}


    #collapsing-ingredients * { background-color: #174ab8 !important; }
    #collapsing-appareils * { background-color: #4bb9fe !important; }
    #collapsing-ustensils * { background-color: #e83e8c !important; }

    .card.card-body { width:100%;}

    .tagsWrapper {
        width: 100%;
        @include flex(row, wrap);
        .searchTag {
          //   height: 10%;
            background-color: $primary !important;
            color: $white;
            padding: 2%;
            margin: 2%;
            @include centered;
            i.fa.fa-times-circle-o { padding-left: 5px; }
        }
    }

    .menu-header { // = visible buttons / input field / carets
        display: flex;
        flex-direction: row;
        height: 70px;
        opacity: 1 !important;
        width: 90%; // of col
        .close {
            float: none !important;}

        button.btn {
            width: 80%;
            height: 100%;
            text-align: unset;
            color: $white !important;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        i.fas.fa-angle-down, i.fas.fa-angle-up {
            width: 20%;
            height: 100%;
            float: right;
            @include centered;
        }
        .searchInput {
            width: 80%;
            height: 100%;
            padding: 5%;
        }
    }
    .category-menu {
        @include max-992px{ width: 100%;}
        @include min-992px{ width: 90%;}
        height: 50vh;position: absolute;
        overflow: scroll;
        .list {
            menu-list-item-component li {
                &:hover,
                &:active {
                    background-color: red !important;
                }
                a {
                    width: 30%;
                }
            }
        }
    }
}
