// Advanced search menus
.adv-search-wrapper {

    collapsing-menu-component * {
        background-color: $primary !important;
        color: $white;
        .menu-header {
            height:50px;
            button.btn { width:90% !important; color: $white !important; }
            i { width:10%; }
            .searchInput { 
                width:90%;
            }

        }
        .category-menu {
            width: 50%;
            .list {
                display: flex; flex-flow: row wrap;
                li a { width: 30%; }
            }
        }
    }

}
