
.form-outline {
    position: relative; // for suggestions wrapper abs pos
    height: 40px;
    .icon-search { height:100%;}
}

// suggestions wrapper
.main-suggestions {
    background-color: lightgrey;
    color: white;
    border-bottom: 1px solid white;
    position: absolute; z-index:6;top: 40px;
    width: 500px;
    p { 
        height: 30px;padding:2%; }
}
