

// BOOTSTRAP imports (all) -------------------------------- (TO REVIEW : import only necessary components/utils/..)
@import "../node_modules/bootstrap/scss/bootstrap";


//  -------------------------------------------------
@import "../src/sass/utils/variables";
@import "../src/sass/utils/mixins";

@import "../src/sass/base/main-rules";

@import "../src/sass/base/fonts";


@import "../src/sass/layouts/header";
@import "../src/sass/layouts/collapse-menu";
@import "../src/sass/layouts/card";
@import "../src/sass/layouts/searchbar";
@import "../src/sass/pages/base-page";